[package]
name = "versi-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
tokio.workspace = true
serde.workspace = true
chrono.workspace = true
reqwest.workspace = true
